html,
body {
  overflow: hidden !important;
}

.grumbler-head {
  font-family: Angry;
}
.login-card {
  box-shadow: 0 0 3px #eee;
}
.post-card {
  box-shadow: 0 0 2px #eee;
}
/* Webfont: Angry-Regular */
@font-face {
  font-family: "Angry";
  src: url("Angry.woff2") format("woff2"),
    /* Modern Browsers */ url("Angry.otf") format("opentype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
